extends layout

block header
  .header
    ul.nav.nav-pills.pull-right
      li
        a(href='/') Home
      li
        a(href='/roster') Roster
    h3.text-muted #{title}
  .jumbotron
    h1= title
    p(class='lead') Welcome to #{title}
    p
      a.btn.btn-lg.btn-success(href='/', role='button') Sign up today

block content
  h1= message
  h2= error.status
  pre #{error.stack}
